/*********************************************************************
**********************************************************************
**********************************************************************
**********************************************************************
******* LARGE SCREENS (min-width: 1768px)  ***************************
**********************************************************************
**********************************************************************
**********************************************************************
*********************************************************************/

.photo .doHide {
    display: none; /* still needed to hide those perspective imgs */
}

.first-box figure{	
	background-position: center 0px;
    background-repeat: no-repeat;
}

.second-box figure{	
	background-position: center -180px;
    background-repeat: no-repeat;
}

.third-box figure{	
	background-position: center -360px;
    background-repeat: no-repeat;
}
