/*********************************************************************
**********************************************************************
**********************************************************************
**********************************************************************
******* SMARTPHONE (min-width: 400px) and (max-width:767px) *********
**********************************************************************
**********************************************************************
**********************************************************************
*********************************************************************/

*{
	box-sizing: border-box;
	font-weight: normal;
	font-size: 100%;
}

html,body{
	background-color: #f2f2f2;
	width:100vw;
	height:100vh;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

h1{
	text-align: center;
	margin-bottom: 10%; /* 70px; */
	font-family: 'Passion One', cursive;
	font-size: 2.25em;
	letter-spacing: 0.2em;
	color: #1a1a1a;
}

h2{
	margin-bottom: 2%; /*30px; */
}

section{
	width: 100vw;
	margin:auto;
}

/* Scroll down - App content*/
main.nav-is-visible{
	position: absolute;
	top:1em;
	-webkit-transition: top 1s 1s ease-in-out;

        transition: top 1s 1s ease-in-out;
}

#about{
    /*background: blue;  */
    width: 90vw;
    /*height:100vh; umm removal wont affect photos? nope better for scroll even*/
    margin:auto;
}

#photo-container{
	margin: 10% auto 0 auto;
	width: 100vw;
	height: 80vh;/*600px;*/
}

.photo{
    width: 100%;
	height: 30%;/*180px;*/
	margin-bottom: 1%; /* 0.3em;*/
	position: relative;
	-webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
	text-align: center;
	font-family: 'Passion One', cursive;
	font-size: 36px; /*2.25em;*/
    letter-spacing: 0.2em;
	color: #1a1a1a;
}

.first-box, .second-box, .third-box{
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform: translateZ( -2.5em );
	transform: translateZ( -2.5em );
	-webkit-transform-style: preserve-3d;

        transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	        transition: transform 1s;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
}

.first-box figure, .second-box figure, .third-box figure{
    width: 90vw;
    height: 100%;/*180px;*/
    margin: 0px;
    display: block;
    position: absolute;
}

.first-box .front, .second-box .bottom, .third-box .back{
	background-image: url("../img/photo01.jpg");
    background-size: cover;
}

.first-box .bottom, .second-box .front, .third-box .bottom{
	background-image: url("../img/photo02.jpg");
    background-size: cover;
}

.first-box .back, .second-box .back, .third-box .front{
	background-image: url("../img/photo03.jpg");
    background-size: cover;
}

.second-box figure{	
	background-position: 0% -100%; /*0 -180px;*/
}

.third-box figure{	
	background-position: 0% -200%; /*0 -360px;*/
}

.front  {
	-webkit-transform-origin: center center;
    -ms-transform-origin: center center;
        transform-origin: center center;
	-webkit-transform: rotateY(0deg) translateZ(2.5em) ;
	        transform: rotateY(0deg) translateZ(2.5em) ; 

}

.back {
	-webkit-transform-origin: center center;
    -ms-transform-origin: center center;
        transform-origin: center center;
	-webkit-transform: rotateX(180deg) translateZ(2.5em);
	        transform: rotateX(180deg) translateZ(2.5em); 

}

.bottom {
	-webkit-transform-origin: center center;
    -ms-transform-origin: center center;
        transform-origin: center center;
	-webkit-transform:  rotateX(-90deg) translateZ(2.5em);
	        transform:  rotateX(-90deg) translateZ(2.5em); 
}

/* anim used anywhere?!? toSee */
/*.anim .first-box{
	-webkit-transform:  rotateX(45deg) translateY( 0 );
        transform:  rotateX(45deg) translateY( 0 );

	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
}

.anim .second-box{
	-webkit-transform:  rotateX(135deg) translateZ( 0px );
        transform:  rotateX(135deg) translateZ( 0px );

	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
}

.anim .third-box{
	-webkit-transform:  rotateX(135deg) translateZ( 0px );
        transform:  rotateX(135deg) translateZ( 0px );

	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
}*/

.launchRot01 .second-box, .launchRot02 .third-box, .launchRot02 .first-box{
	-webkit-transform:  rotateX(90deg) translateY( -2.5em );
        transform:  rotateX(90deg) translateY( -2.5em );
	-webkit-transition: -webkit-transform 1s;
	        transition: transform 1s;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;  

}

.launchRot01 .third-box, .launchRot03 .second-box, .launchRot03 .first-box{
	-webkit-transform:  rotateX(179deg) translateZ( 2.5em  );
        transform:  rotateX(179deg) translateZ( 2.5em );
	-webkit-transition: -webkit-transform 1s;
	        transition: transform 1s;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;  

}

#name-container, #name-container02, #name-container03{
	position: absolute;
	pointer-events: none;
	margin: auto;
	margin-top: -10%;/*calc(-100% - 100px);-10%;*/
	width: 90vw; /* better with vw */
	height: 10%;  /*150px*/
}

.line-container{
	margin-bottom: 0.937em; /* em better? -- 2%; */
}

.lineL, .goLine .lineL{
	-webkit-transform-origin: right top;
    -ms-transform-origin: right top;
        transform-origin: right top;  
	
}

.lineR, .goLine .lineR{
	right: 0;
	-webkit-transform-origin: left top;
    -ms-transform-origin: left top;
        transform-origin: left top;	
}

.lineL, .lineR{
	position: absolute;
	height: 1px;
	width:200px;
	background-color: #fff;
	opacity: 0;
	-webkit-transition: height 0.25s, width 0.5s 0.25s, opacity 0.25s 0.25s,-webkit-transform 0.5s 0.25s;
        transition: height 0.25s, width 0.5s 0.25s, opacity 0.25s 0.25s,transform 0.5s 0.25s;
	-webkit-transform:scale(1,1);
	    -ms-transform:scale(1,1);
	        transform:scale(1,1);
}

.goLine .lineL, .goLine .lineR{
	-webkit-transform:scale(0.15,1);
    -ms-transform:scale(0.15,1);
        transform:scale(0.15,1);
	opacity: 1;

	width:550px;
	height:10px;
	-webkit-transition: height 0.25s 0.75s,  width 0.5s, opacity 0.5s, -webkit-transform 0.5s 0.25s;
	        transition: height 0.25s 0.75s,  width 0.5s, opacity 0.5s, transform 0.5s 0.25s;
}

.name-about, .title{
	text-align: center;
	display: block;
}

.name-about{
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-size: 2.25em;	/*36px; */
	opacity: 0;
	color: #fff;
	-webkit-transform:translateY( 0px );
		    -ms-transform:translateY( 0px );
		        transform:translateY( 0px );
	-webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
	        transition: opacity 0.25s, transform 0.25s;
}

.title{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	opacity: 0;
	-webkit-transform:translateY( 0px );
    -ms-transform:translateY( 0px );
        transform:translateY( 0px );
	-webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
	        transition: opacity 0.25s, transform 0.25s;

}

.goLine .name-about{
	opacity: 1;
	-webkit-transform:translateY( -10px );
    -ms-transform:translateY( -10px );
        transform:translateY( -10px );
	-webkit-transition: opacity 0.25s, -webkit-transform 0.5s;
	        transition: opacity 0.25s, transform 0.5s;
}

.goLine .title{
	opacity: 1;
	-webkit-transform:translateY( 10px );
	    -ms-transform:translateY( 10px );
	        transform:translateY( 10px );
	-webkit-transition: opacity 0.25s, -webkit-transform 0.5s;
	        transition: opacity 0.25s, transform 0.5s;
}

#services{
    height: 70vh; /* 460px; */
    width: 90vw;
    margin:auto;
    text-align: center;
}

#services div{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.6em;
	letter-spacing: 1px;
	color: #1a1a1a;
}

#services span{
	display: inline-block;
	margin-bottom: 25px;
	height: 65px;
	width: 100%;
}

#contact{
	width: 100vw;
    height:70vh; /* toSee */
    margin:auto;
}