/*********************************************************************
**********************************************************************
**********************************************************************
**********************************************************************
******* SMARTPHONE (min-width: 400px) and (max-width:767px) *********
**********************************************************************
**********************************************************************
**********************************************************************
*********************************************************************/


h1{
	margin-bottom: 10%; /* 70px; || 4.375em*/
}

h2{
	margin-bottom: 2%; /*30px; */
}

section{
	width: 100vw;
	margin:auto;
}

#home-container{
	height: 100vh; /* umm */
}

/* Scroll down - App content*/
main.nav-is-visible{
	position: absolute;
	top:1em;
	-webkit-transition: top 1s 1s ease-in-out;

        transition: top 1s 1s ease-in-out;
}

#about{
    width: 100vw;
	height:auto;
    /*height:100vh; umm removal wont affect photos? nope better for scroll even*/
    margin:auto;
}

#photo-container{
	margin: 10% auto 0 auto;
	width: 100vw;
	height: auto;/*600px;*/
}

.photo{
    width: 100%;
	height: 180px; /*30%*/
	margin-bottom: 0.325rem;/*1%;*/
	position: relative;
	-webkit-perspective: 1000px;
    perspective: 1000px;
	text-align: center;
	font-family: 'Passion One', cursive;
	font-size: 36px; /*2.25em;*/
    letter-spacing: 0.2em;
	color: #1a1a1a;
}

.first-box, .second-box, .third-box{
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform: translateZ(  -5.625rem ); /*-2.5em;*/
	transform: translateZ( -5.625rem );
	-webkit-transform-style: preserve-3d;

        transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	        transition: transform 1s;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
}

.first-box figure, .second-box figure, .third-box figure{
    /*width: 90vw;
    height: 100%;180px;
    margin: 0px;
    display: block;
    position: absolute;*/
	width: 100%;
    height: 100%;
    margin: 0px;
    display: block;
    position: absolute;
    background-position: center 0% ;
    background-size: auto;
}

.first-box .front, .second-box .bottom, .third-box .back{
    background-image: url("../img/cropped/photo01.jpg"); 
}

.first-box .bottom, .second-box .front, .third-box .bottom{
    background-image: url("../img/cropped/photo02.jpg");
}

.first-box .back, .second-box .back, .third-box .front{
    background-image: url("../img/cropped/photo03.jpg");
}


/*
.first-box .front, .second-box .bottom, .third-box .back{
	background-image: url("../img/photo01.jpg");
    background-size: cover;
}

.first-box .bottom, .second-box .front, .third-box .bottom{
	background-image: url("../img/photo02.jpg");
    background-size: cover;
}

.first-box .back, .second-box .back, .third-box .front{
	background-image: url("../img/photo03.jpg");
    background-size: cover;
}*/

.first-box figure, .second-box figure, .third-box figure{
    background-position: 20% 0% ;
} 

.second-box figure{	
	/*background-position: -100% -100% ;  percent better; !important  */
    background-position-y: -100%;
}

.third-box figure{	
	/*background-position: 15% -200% ; /*2.5em; -360px !important*/
    background-position-y: -200%;
}

.third-box .front { /* wonder if can put elt tag like figure after class? */
    background-position-x: 15%;
}

.front  {
	-webkit-transform-origin: center center;
    -ms-transform-origin: center center;
        transform-origin: center center;
	-webkit-transform: rotateY(0deg) translateZ(5.625rem) ; /*2.5em;*/
	        transform: rotateY(0deg) translateZ(5.625rem) ; 

}

.back {
	-webkit-transform-origin: center center;
    -ms-transform-origin: center center;
        transform-origin: center center;
	-webkit-transform: rotateX(180deg) translateZ(5.625rem);/*2.5em;*/
	        transform: rotateX(180deg) translateZ(5.625rem); 

}

.bottom {
	-webkit-transform-origin: center center;
    -ms-transform-origin: center center;
        transform-origin: center center;
	-webkit-transform:  rotateX(-90deg) translateZ(5.625rem);/*2.5em;*/
	        transform:  rotateX(-90deg) translateZ(5.625rem); 
}

.launchRot01 .second-box, .launchRot02 .third-box, .launchRot02 .first-box{
	-webkit-transform:  rotateX(90deg) translateY( -5.625rem); /*-2.5em;*/
        transform:  rotateX(90deg) translateY( -5.625rem );
	-webkit-transition: -webkit-transform 1s;
	        transition: transform 1s;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;  

}

.launchRot01 .third-box, .launchRot03 .second-box, .launchRot03 .first-box{
	-webkit-transform:  rotateX(179deg) translateZ( 5.625rem); /*2.5em;*/
        transform:  rotateX(179deg) translateZ( 5.625rem );
	-webkit-transition: -webkit-transform 1s;
	        transition: transform 1s;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;  

}

#name-container, #name-container02, #name-container03{
	position: absolute;
	pointer-events: none;
	margin: auto;
	margin-top: -10%;/*calc(-100% - 100px);-10%;*/
	width: 100vw; /* better with vw */
	height: fit-content; /*10%;  150px*/
}

.line-container{
	margin-bottom: 0.937em; /* em better? -- 2%; */
}

/*
.lineL, .goLine .lineL{
	-webkit-transform-origin: right top;
    -ms-transform-origin: right top;
        transform-origin: right top;  
	
}

.lineR, .goLine .lineR{
	right: 0;
	-webkit-transform-origin: left top;
    -ms-transform-origin: left top;
        transform-origin: left top;	
}*/

.lineL, .lineR{
	position: absolute;
	height: 1px;
	width:200px; /* ahh scale below changes width!! toReview */
	/*height: 0.0625em; 
    width: 12.5em;*/
	background-color: #fff;
	opacity: 0;
	-webkit-transition: height 0.25s, width 0.5s 0.25s, opacity 0.25s 0.25s,-webkit-transform 0.5s 0.25s;
        transition: height 0.25s, width 0.5s 0.25s, opacity 0.25s 0.25s,transform 0.5s 0.25s;
	-webkit-transform:scale(1,1);
	    -ms-transform:scale(1,1);
	        transform:scale(1,1);
}

.goLine .lineL, .goLine .lineR{
	-webkit-transform:scale(0.15,1);
    -ms-transform:scale(0.15,1);
        transform:scale(0.15,1);
	opacity: 1;

	/*width: 550px;
	height:10px;*/ 
    height:0.625rem;
    width: 31.25em; 
	-webkit-transition: height 0.25s 0.75s,  width 0.5s, opacity 0.5s, -webkit-transform 0.5s 0.25s;
	        transition: height 0.25s 0.75s,  width 0.5s, opacity 0.5s, transform 0.5s 0.25s;
}


.title{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	opacity: 0;
	-webkit-transform:translateY( 0px );
    -ms-transform:translateY( 0px );
        transform:translateY( 0px );
	-webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
	        transition: opacity 0.25s, transform 0.25s;

}

.goLine .name-about{
	opacity: 1;
	-webkit-transform:translateY( -0.625rem ); /* use em  -10px */
    -ms-transform:translateY( -0.625rem);
        transform:translateY( -0.625rem );
	-webkit-transition: opacity 0.25s, -webkit-transform 0.5s;
	        transition: opacity 0.25s, transform 0.5s;
}

.goLine .title{
	opacity: 1;
	-webkit-transform:translateY( 0 ); /* 10px */
	    -ms-transform:translateY( 0 );
	        transform:translateY( 0.625rem );
	-webkit-transition: opacity 0.25s, -webkit-transform 0.5s;
	        transition: opacity 0.25s, transform 0.5s;
}

#services{
    height: 70vh; /* 460px; */
    width: 100vw;
    margin: auto;
    margin-top: 3.625em;
}

#services h1{
	margin-bottom: 1em;
}

#services div{
	width: 100%;
	margin-bottom: 1.26rem;
}

#services span{
	display: inline-block;
	margin-bottom: 1.26rem; /* 25px; */
	height: 4.06rem; /* 65px; */
	width: 100%;
}

#first{
	width: 18.75rem; /* or 33.3%?  300px; */
	height: auto;	/* 100px;*/
		
	float: left;
}

#second{
	width: 18.75rem; /* or 33.3%?  300px; */
	height: auto;	/* 100px;*/
	
	float: left;
}


#third{
	width: 18.75rem; /* or 33.3%?  300px; */
	height: auto;	/* 100px;*/
	float: left;
}

/* gotta override below and put in two cols*/
.title-services{
	text-align: center;
	line-height: 1.6em;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;	
	font-size: 16px;
	color: #1a1a1a;
}

#contact{
	width: 100vw;
    height:auto; /* toSee */
    margin: auto;
}

#form{
	width: 100%;
	margin:auto;	
}

#email {
	margin-left: 0;
}

#message{
    width: 90%; /*90vw 860px; */
	height: 12.5em;/*200px; */
}

#map {
	margin-top: 5rem;/*80px; */
	height:auto; /*400px; */
	width:100vw;
}